*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: #4a503d;
  
}

h2{
  font-size: 34px;
}
.navbar-brand{
  color: #3d84b8 !important;
}
.landing-img{
  width: 30%;
  padding-top: 80px;
}
.heading{
  margin-top: 50px;
}
.signup{
  margin-top: 20px;;
}
.container2,.container3,.container4,.container5{
  padding-top: 100px;
  
}
.c2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  padding-left: 80px !important;
  padding-top: 30px;

  
}
.container2 h2{
  padding:10px;
}
.container2 p,.container4 p,.container5 p,.container5 a{
  padding:10px;
  font-size: 16px;
}
.list2 li{
  padding:10px;
  font-size: 16px;
}

.container3 h2,.container4 h2{
  padding-bottom: 20px;     
}
.container3 p{      
  margin-bottom: 0;
}
.container3 img{
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container3 a,.container4 a,.container5 a{
  text-decoration: none;
  color:  #3d84b8;
  font-size: 16px;
}

.container3  a:hover,.container4 a:hover,.container5 a:hover{
  color:#4a503d;
}
.fa-arrow-right{
  color: #3d84b8;
  padding:10px;
}
.fa-arrow-right:hover{
  color: #4a503d;
}
.container4,.container6,.last{
  margin-right: 10%;
  margin-left: 10%;
}
.c4{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  padding: 0 50px 0 50px;
}
.c5{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container5 h5{
  padding: 10px;
}
hr{
  margin-top: 100px !important ;
}

.c51 p{
  font-size: 14px;
}
.social{
  display: inline-block;
}
.icon{
  padding: 10px;
}
.container6 ul{
  list-style: none;
  
}
.container6 a{
  text-decoration: none;
  color:#4a503d;
}
.container6 p{
  padding: 2px;
  font-size: 20px;
}
.container6 li{
  font-size: 16px;
  padding: 2px; 
}
.copyright{
  font-size: 14px;
}
.last{
  margin-top: 50px;
}
.last p{
  font-size: 12px;
  color: #8e9775;
}
.description{
  display: flex;
  justify-content: space-around;
}
.desc{
  display: inline-block;
  margin: auto;
}
.desc a{
  color: #8e9775;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
}
.desc a:hover{
  color: #3d84b8;
}

.img2{
  padding-left: 30px;
  padding-right: 30px;
}